<section>

  <div>
    <mat-form-field>
      <input [formControl]="nome" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControl]="dataInicio" [matDatepicker]="dataInicioPicker" placeholder="Data Início">
      <mat-datepicker-toggle matSuffix [for]="dataInicioPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #dataInicioPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControl]="dataTermino" [matDatepicker]="dataTerminoPicker" placeholder="Data Término">
      <mat-datepicker-toggle matSuffix [for]="dataTerminoPicker">
      </mat-datepicker-toggle>
      <mat-datepicker #dataTerminoPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <div matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </div>

    <div matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">
        {{element.data | date: 'dd/MM/yyyy'}} </td>
    </div>

    <div matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Apagar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="trash" (click)="apagar(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-mini-fab color="primary" (click)="onAddClick()">
    <mat-icon>add</mat-icon>
  </button>
</section>